html, body {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100vh;
 font-family: "Monument Extended";
 background: #000000;
}

body{
margin:0px;
padding:0px;
}
.a {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 30%;
}
.b {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 35%;
}
.c {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 40%;
}
.d {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 45%;
}
.e {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 50%;
}
.f {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 55%;
}
.g {
 width: 50px;
 top: 90%;
 position: absolute;
 left: 60%;
}